/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/assets/gov_id_document
/public/assets/profile_image
/public/assets/store_logo
/public/assets/product_images
/public/assets/store_documents
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
